body {
  margin: 0 50px 0 0;
}
a img {
  border: 0;
}
.main {
  width: 100%;
  height: 100%;
  border: 0;
  border-collapse: collapse;
}
.main td {
  padding: 4px;
}
.sidebar {
  background-color: #6bbdd6;
  width: 175px;
  border-right: 11px solid #007b9c;
}
.nav {
  font-weight: bold;
  font-size: large;
  list-style: none;
  padding: 0;
}
.sub-nav {
  font-weight: normal;
  font-size: medium;
  list-style: none;
  padding: 0 0 0 0.5em;
  margin: 0 0 1em;
}
.header {
  text-align: center;
}
.header img {
  margin-bottom: 19px;
}
.callout {
  font-weight: bold;
  color: #e00000;
}
.align-top {
  vertical-align: top;
}
.align-bottom {
  vertical-align: bottom;
}
.pull-left {
  float: left;
}
